@media only screen and (max-widtx: 700px) {
    header{
        width: 350px;
        height: 350px;
    }
    body{
        width: 350px;
        height: 300px;
    }
    .nav{
        width: 400px;
        height: 300px;
    }
    img{
        width: 30px;
        height: 20px;
    }
    
}